body{
        margin: 0px;
        padding: 0px;
}

.nav-bar{
        display: felx;
        background-color: black;
        padding: 10px;
        justify-content: center;

}
.nav-bar span{
        padding: 20px;
        color: white;
        display: inline-block;
}
.nav-bar span a{
        color: white;
        text-decoration: none;
        padding: 10px;
}
.nav-bar span a:hover{
        color: black;
        background-color: white;
}
h1{
        background-color: blueviolet;
        color: bisque;
        text-align: center;
        padding: 3px ;
}

.lists{
        height: min-content;
}

ul{
        background-color: cornsilk;
        list-style-type: square;
}

li{
        list-style-type: disc;
        display: block;

}
.lists a{
        text-decoration: none;
        display: block;
        padding: 10px;
        background-color: whitesmoke;
        color: green;
}

.lists a:hover{
        text-decoration: none;
        background-color: chocolate;
        display: inline-block;
        color: white;
}